@model TallinnaRakenduslikKolledge_Leib.Models.Course

@{
	ViewData["Title"] = "Muuda Kursus";
}

<h1>Muuda Andmed</h1>
<hr />
<div class="row">
	<div class="column-md-4">
		<form asp-action="Edit">
			<div asp-asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Title" class="control-label"></label>
				<input asp-for="Title" class="form-control" />
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Credits" class="control-label"></label>
				<input asp-for="Credits" class="form-control" />
				<span asp-validation-for="Credits" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Department" class="control-label"></label>
				<input asp-for="Department" class="form-control" />
				<span asp-validation-for="Department" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="hidden" asp-for="CourseId" />
				<input type="submit" asp-for="CourseId" value="Muuda" class="btn btn-danger" /> | <a asp-action="Index">Tühista</a>
			</div>
		</form>
	</div>
